<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!--<config>
		--><!--<add key="globalPackagesFolder" value="globalPackagesFolder"/>--><!--
	</config>-->
	
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="videolan-preview" value="https://f.feedz.io/videolan/preview/nuget/index.json" />
	</packageSources>

	<PackageSourceMapping>
		<PackageSource key="nuget.org">
			 <package pattern="*" />
		</PackageSource>
		<PackageSource key="videolan-preview">
			<package pattern="VideoLAN.*"/>
			<package pattern="Libvlcsharp.*"/>
		</PackageSource>
	</PackageSourceMapping>

</configuration>